html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

img{
  max-width: 100%;
}


.backgroundImage {
  display: flex;
  justify-content: center;
  background-image: url("images/view.png");
  height: 900px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.firstSection {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 20px;
}

.firstSection__top {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 30px;
}

.firstSection_headerOne,
.firstSection_headerTwo {
  display: flex;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 74px;
  line-height: 84px;
  letter-spacing: 0.2px;
  color: white;
  margin: 50px;
  text-align: center;
}

.firstSection_headerTwo {
  font-weight: normal;
  font-size: 28px;
  line-height: 40px;
  text-align: center;
  margin: 10px;
}

.firstSection__top_menu {
  display: flex;
  justify-content: space-between;
  flex: 2;
}

.firstSection__top_menu a {
  color: white;
  flex: 1;
  text-decoration: none;
}
.firstSection__top_logo {
  display: flex;
  justify-content: center;
  flex: 2;

}

.firstSection__top_socialMedia {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.firstSection__button {
  display: flex;
  justify-content: center;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 150px;
  opacity: 0.9;
  background-color: #2c89e0;
  border-radius: 40px;
  margin-right: auto;
  margin-left: auto;
}

.features-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  padding: 10px;
}

.features-section__head {
  display: flex;
  flex-direction: column;
}

.features-screenImage{
  display: none;
}

.features-section__head_headerOne,
.features-section__head_headerTwo {
  display: flex;
  justify-content: center;
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  line-height: 55px;
  letter-spacing: 0.2px;
  color: #252b42;
  text-align: center;
}

.features-section__head_headerTwo {
  font-size: 28px;
  line-height: 40px;
  color: #374754;
  margin: 20px;
}

.features__paragraphsContainer {
  display: flex;
  column-gap: 50px;
}

.features__paragraphsContainer_firstOne,
.features__paragraphsContainer_secondOne,
.features__paragraphsContainer_thirdOne {
  display: flex;
  flex-direction: column;
  align-items: center;    `
}

.first-paragraph_title,
.second-paragraph_title,
.third-paragraph_title {
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1px;
  color: #252b42;
  margin: 20px;
  text-align: center;
}

.firstParagraph-content,
.secondParagraph-content,
.thirdParagraph-content {
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.2px;
  color: #374754;
  margin: 20px;
  text-align: center;
}

.features-section__image {
  display: flex;
  justify-content: center;
  position: relative;
}

.features-section__circle {
  height: 85px;
  width: 85px;
  background-color: rgb(44, 173, 224);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.features-section__play{
  

}

.section-three {
  display: flex;
  justify-content: center;
  column-gap: 80px;
  margin-top: 50px;
  padding: 20px;
}

.section-three_headerOne,.section-three_headerTwo {
  display: flex;
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  line-height: 55px;
  letter-spacing: 0.2px;
  color: #252b42;
}

.section-three_headerTwo {
  font-size: 28px;
  line-height: 40px;
  color: #374754;
  margin-top: 30px;
}

.section-three_left {
  display: flex;
  flex-direction: column;
}

.section-three__tryButton,
.section-four_right__emailButton,
.section-four_right__subscribeButton,
.partners-section__button,
.contactUs__button,
.testimonials__button {
  display: flex;
  justify-content: center;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 150px;
  opacity: 0.9;
  padding: 14px 20px;
  background-color: #2c89e0;
  border-radius: 40px;
  margin-top: 30px;
}

.contactUs__button {
  width: 120px;
}

.section-four_right__emailButton {
  color: black;
  background-color: rgb(219, 215, 215);
}

.section-four {
  display: flex;
  justify-content: center;
  column-gap: 130px;
  margin-top: 50px;
  padding: 30px;
}

.section-four_right {
  display: flex;
  flex-direction: column;
}

.section-four_right_type_h2,
.section-four_right_type_p,
.section-four_right_type_h3 {
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 38px;
  line-height: 45px;
  letter-spacing: 0.2px;
  color: #252b42;
  text-align: center;
}

.section-four_right_type_p {
  font-size: 18px;
  line-height: 10px;
  color: #374754;
}

.section-four_right_type_h3 {
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1px;
  margin: 20px;
}

.section-four_right__buttons {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.partners-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.partners-section_headerOne,
.partners-section_headerTwo,.partners-name{
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 55px;
  letter-spacing: 0.2px;
  color: #252b42;
  margin-top: 30px;
  text-align: center;
}

.partners-section_headerTwo {
  font-size: 28px;
  line-height: 40px;
  color: #374754;
}

.partners-section__clientNames {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}

.flex-item1, .flex-item2,.flex-item3,.flex-item4,.flex-item5,.flex-item6,.flex-item7,.flex-item8 {
  display: flex;
  flex: 0 24%;
  flex-wrap: wrap;
  justify-content: center;
  height: 120px;
  width: 100px;
  border: 1px solid rgb(189, 171, 171);
}

.partners-name {
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.1px;
  color: #374754;
  margin: 20px;
}

.testimonials-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.testimonials_headerOne,
.testimonials_headerTwo {
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0.2px;
  color: #374754;
  margin: 20px;
  text-align: center;
}

.testimonials-section__ibmImage {
  display: flex;
  margin-top: 30px;
}

.designer-section {
  display: flex;
  column-gap: 15px;
  margin: 20px;
}

.designer-data {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.designer-section a {
  color: black;
  text-decoration: none;
}

.designer-text_styling {
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 23px;
  letter-spacing: 0.1px;
  color: #374754;
}

.pricing-section {
  display: flex;
  flex-direction: column;
  background-color: rgb(3, 45, 83);
  width: 1200px;
  height: 900px;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
}

.pricing-section__head {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}

.pricing-section__headerOne, .pricing-section__headerTwo  {
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  line-height: 55px;
  letter-spacing: 0.2px;
  color: white;
  
}

.pricing-section__headerTwo {

  font-size: 25px;
  line-height: 40px;
  margin: 30px;
  text-align: center;
}

.pricing-tables {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}

.pricing-tables a {
  text-decoration: none;
  color: black;
}

.free-pricing,
.business-pricing,
.standard-pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 550px;
  width: 230px;
  background-color: white;
  color: black;
  margin-top: 20px;
  border-radius: 5px;
}

.standard-pricing {
  height: 600px;
  background-color: rgb(44, 136, 223);
  color: white;
  margin-top: 0%;

}

.standard-pricing a {
  color: white;
}

.free-pricing__button,
.business-pricing__button,
.standard-pricing__button {
  display: flex;
  justify-content: center;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 150px;
  opacity: 0.9;
  background-color: #2c89e0;
  border-radius: 30px;
  margin-top: 50px;
}

.standard-pricing__button {
  color: #2c89e0;
  background-color: white;
}

.free-pricing__title,
.business-pricing__title,
.standard-pricing__title {
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1px;
  color: #252b42;
  margin: 20px;
}

.standard-pricing__title {
  color: white;
  margin: 50px;
}

.pricing-feature__rows {
  display: flex;
  flex-direction: column;
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 35px;
  letter-spacing: 0.2px;
  align-items: center;
}

.table-description {
  font-family: "Sora", sans-serif;
  font-style: normal;  
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.1px;
}


.table1__monthly-price,
.table2__monthly-price,
.table3__monthly-price {
  display: flex;
  align-items: center;
}

.table1__monthly-price_type_h1,
.table1__monthly-dollar_type_h3,
.table1__monthly-dollar_type_h5 {
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 84px;
  letter-spacing: 0.2px;
}

.table1__monthly-dollar_type_h3 {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1px;
}

.table1__monthly-dollar_type_h5 {
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.1px;
}

.table2__monthly-dollar_type_h3,
.table2__monthly-price_type_h1,
.table2__monthly-dollar_type_h5 {
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1px;
}

.table2__monthly-price_type_h1 {
  font-size: 70px;
  line-height: 84px;
  letter-spacing: 0.2px;
}

.table2__monthly-dollar_type_h5 {
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
}

.table3__monthly-price_type_h1,
.table3__monthly-dollar_type_h3,
.table3__monthly-dollar_type_h5 {
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 84px;
  letter-spacing: 0.2px;
}

.table3__monthly-dollar_type_h3 {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1px;
}

.table3__monthly-dollar_type_h5 {
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.1px;
}

.contactUs-section {
  margin-top: 100px;
}

.contact-section__head {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactUs-content {
  display: flex;
  justify-content: center;
  column-gap: 50px;
  margin: 30px;
}
.contactUs-section_headerOne,
.contactUs-section_headerTwo {
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 55px;
  letter-spacing: 0.2px;
  color: #252b42;
  margin: 30px;
}

.contactUs-section_headerTwo {
  font-size: 28px;
  line-height: 40px;
  color: #374754;
  margin: auto;
  text-align: center;
}

.contactUs-content_left {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 300px;
  border: 1px solid rgb(226, 211, 211);
  padding: 20px;
  border-radius: 10px;
}
.content_left-title {
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1px;
  color: #252b42;
  margin: 20px;
}

.contactUs-content_right {
  display: flex;
  flex-direction: column;
}

.location-content__text,
.phone-content__text,
.email-content__text {
  display: flex;
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.1px;
  color: #18171d;
  text-align: center;
}

.map-section {
  display: flex;
  justify-content: center;
  margin: 40px;
}

.social-links__section,
.contact-features {
  display: flex;
  column-gap: 20px;
}

.name-input__section,
.email-input__section,
.message-input__section {
  display: flex;
  justify-content: center;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 170px;
  opacity: 0.9;
  padding: 14px 20px;
  background-color: rgb(236, 228, 228);
  border-radius: 40px;
}

.message-input__section {
  height: 120px;
  border-radius: 0px;
}

.end-section {
  display: flex;
  background-color: rgb(3, 45, 83);
  width: 1200px;
  height: 450px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
  margin-top: 100px;
  justify-content: center;
  column-gap: 50px;
}
.end-section__partOne,
.end-section__partTwo,
.end-section__partThree,
.end-section__partFour {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.end-section__partOne_content a,
.end-section__partTwo_content a,
.end-section__partThree_content a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: white;
  margin-top: 20px;
}

.end-section__partOne_title,
.end-section__partTwo_title,
.end-section__partThree_title {
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1px;
  color: white;
}

.location-content,
.phone-content,
.email-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.end-section__partFour_location,
.end-section__partFour_phone,
.end-section__partFour_socialMedia {
  display: flex;
  column-gap: 10px;
}

.end-section__partFour_socialMedia,
.end-section__partFour_phone {
  margin-top: 30px;
}

.end-section__partFour_location a,
.end-section__partFour_phone a {
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 27px;
  letter-spacing: 0.2px;
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 600px) {


.firstSection__top {
  display: flex;
  flex-direction: column;

}

.firstSection__top_menu{
  display: none;
}

.firstSection__top_socialMedia{
  display: none;
}


.firstSection_headerOne,
.firstSection_headerTwo {
  display: flex;
  justify-content: center;
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight:normal;
  font-size: 48px;
  line-height: 55px;
  letter-spacing: 0.2px;
  color: white;
  margin: 50px;
  text-align: center;
}

.firstSection_headerTwo {
  font-weight: normal;
  font-size: 28px;
  line-height: 40px;
  text-align: center;
  margin: 10px;
}

.features__paragraphsContainer {
  display: flex;
 flex-direction: column;
}

.features-section__image{
  display: none;
}

.section-three,  .section-three_left {
  display: flex;
  flex-direction: column;
  align-items: center;

}


.section-three__tryButton{
  display: flex;
  justify-content: center;
} 

.section-four{
  display: flex;
  flex-direction: column;
}

.section-four_right__buttons{

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 19px 35px;
position: static;
width: 353px;
height: 54px;
left: 0px;
top: 24px;

}

.partners-section__clientNames{
  display: flex;
  flex-direction: column;
}

.flex-item4,.flex-item5,.flex-item6,.flex-item7,.flex-item8{
  display: none;
}

.flex-item1,.flex-item2,.flex-item3{
  width:203px;
  height:151px;
}




.pricing-section {
  display: flex;
  flex-direction: column;
  width: 418px;
  height: 2430px;
  align-items: center;
  padding: 0px 28px;
  


}

.pricing-tables {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.standard-pricing {

  margin-top: 10%;

}




}


/* @media (min-width: 640px) { body {font-size:1rem;} }
@media (min-width:960px) { body {font-size:1.2rem;} }
@media (min-width:1100px) { body {font-size:1.5rem;} } */
