.topNavigation {
  display: flex;
  flex-direction: column;
  color: white;
}
body {
  font-family: "Sora", sans-serif;
}

.topNavigation-firstRow {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.topNavigation-thirdRow {
  display: flex;
  justify-self: center;
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.2px;
  color: white;
}

.topNavigation-firstRow__menu {
  overflow: hidden;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-self: flex-start;
  position: absolute;
  left: 120px;
  column-gap: 30px;
  margin-top: 25px;
  color: black;
  text-decoration: none;
}

.topNavigation-firstRow__menu a {
  color: white;
  flex: 1;
  text-decoration: none;
}

.backgroundImage {
  display: flex;
  justify-content: center;
  background-image: url("images/view.png");
  height: 900px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.topNavigation-secondRow {
  display: flex;
  justify-content: center;
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 74px;
  line-height: 84px;
  text-align: center;
  letter-spacing: 0.2px;
  color: white;
  margin-top: 60px;
}

.topNavigation-firstRow__logo {
  display: flex;
  flex: 1;
  align-self: center;
}

.topNavigation-firstRow__socialMedia {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-self: flex-end;
}

.topNavigation-firstRow__logo {
  flex: 2;
}

.topNavigation-fourthRow {
  display: flex;
  justify-content: center;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 150px;
  opacity: 0.9;
  background-color: #2c89e0;
  border-radius: 40px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.section-three__tryButton {
  display: flex;
  justify-content: center;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 150px;
  opacity: 0.9;
  padding: 14px 20px;
  background-color: #2c89e0;
  border-radius: 40px;
}

.features-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.features-section-head {
  display: flex;
  flex-direction: column;
}

.features-section__head_firstRow {
  margin-right: auto;
  margin-left: auto;
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  line-height: 55px;
  letter-spacing: 0.2px;
  color: #252b42;
}

.features-section__head_secondRow {
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0.2px;
  color: #374754;
}

.features-threeParagraphs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 50px;
}

.first-paragraph_title,
.second-paragraph_title,
.third-paragraph_title {
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1px;
  color: #252b42;
}

.features-section__image {
  display: flex;
  justify-content: center;
  position: relative;
}

.features-section__circle {
  height: 85px;
  width: 85px;
  background-color: rgb(44, 173, 224);
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section-three {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 80px;
  margin-top: 50px;
}

.section-three_title {
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 55px;
  letter-spacing: 0.2px;
  color: #252b42;
}

.section-three_content {
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0.2px;
  color: #374754;
}

.section-four {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 130px;
  margin-top: 50px;
}

.section-four_right {
  display: flex;
  flex-direction: column;
  justify-content: ;
}

.section-four_right__buttons {
  display: flex;
  flex-direction: row;
  align-content: space-around;
}

.section-four_right__emailButton {
  display: flex;
  justify-content: center;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 150px;
  opacity: 0.9;
  padding: 14px 20px;
  background-color: #2c89e0;
  border-radius: 40px;
}

.section-four_right__subscribeButton {
  display: flex;
  justify-content: center;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 170px;
  opacity: 0.9;
  padding: 14px 20px;
  background-color: rgb(219, 215, 215);
  border-radius: 35px;
}

.section-four_right_type_h3 {
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1px;
  color: #252b42;
}

.section-four_right_type_h2 {
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 38px;
  line-height: 45px;
  letter-spacing: 0.2px;
  color: #252b42;
}

.section-four_right_type_p {
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.2px;
  color: #374754;
}

.partners-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.partners-section__firstRow {
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 55px;
  letter-spacing: 0.2px;
  color: #252b42;
  margin-top: 50px;
}

.partners-section__secondRow {
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0.2px;
  color: #374754;
}

.partners-section__thirdRow {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}

.flex-item {
  flex: 0 24%;
  height: 120px;
  border: 1px solid rgb(189, 171, 171);
  justify-content: center;
}

.partners-name {
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.1px;
  color: #374754;
}
.partners-section__fourthRow {
  display: flex;
  justify-content: center;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 150px;
  opacity: 0.9;
  background-color: #2c89e0;
  border-radius: 40px;
  text-align: center;
  margin-top: 50px;
}

.testimonials-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.testimonials-writing {
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 40px;
  letter-spacing: 0.2px;
  color: #374754;
}

.designer-data {
  display: flex;
  justify-content: space-around;
}

.testimonials_title {
  font-family: "Sora", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0.2px;
  color: #374754;
}

.testimonials-button {
  display: flex;
  justify-content: center;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 150px;
  opacity: 0.9;
  background-color: #2c89e0;
  border-radius: 40px;
  text-align: center;
  margin-top: 50px;
}

.designer-section a {
  color: black;
  text-decoration: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
