.topNavigation {
  display: flex;
  flex-direction: column;
  color: white;
}

.topNavigation__firstRow {
  display: inline-flex;
  justify-content: space-between;
  display: inline-block;
  margin-top: 30px;
}

.topNavigation--thirdRow {
  display: flex;
  justify-self: center;
  position: static;
  top: 10%;
  bottom: 10%;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.2px;
}

.topNavigation__firstRow__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  left: 120px;
  column-gap: 30px;
  margin-top: 25px;
}

.fa {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  font-size: 40px;
  width: 40px;
  text-decoration: none;
  color: white;
}

.backgroundImage {
  display: flex;
  justify-content: center;
  background-image: url("images/view.png");
  height: 900px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.topNavigation--secondRow {
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  /* font-family: 'Sora', sans-serif; */
  font-style: normal;
  font-weight: bolder;
  font-size: 34px;
  line-height: 74px;
  text-align: center;
  letter-spacing: 0.2px;
}

.topNavigation__logo {
  display: flex;
  justify-content: center;
}

.socialMedia {
  position: absolute;
  right: 80px;
  display: flex;
  justify-content: space-between;
}

.topNavigation--fourthRow {
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  border-radius: 35px;
  background-color: rgb(15, 150, 204);
  width: 150px;
  padding: 10px;
}

.section--three--left--tryButton {
  display: flex;
  justify-content: center;
  border-radius: 35px;
  background-color: rgb(15, 150, 204);
  width: 150px;
  padding: 10px;
  color: white;
}

.features__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.features__content--top {
  display: flex;
  flex-direction: column;
}

.features__content--top--attribute {
  margin-right: auto;
  margin-left: auto;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 35px;
  letter-spacing: 0.2px;
  color: #252b42;
}

.features--threeParagraphs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 50px;
}

.features__content__image {
  display: flex;
  justify-content: center;
  position: relative;
}

.features--top {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.features__content__circle {
  height: 85px;
  width: 85px;
  background-color: rgb(44, 173, 224);
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section--three {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 80px;
  margin-top: 50px;
}

.section--four {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 130px;
  margin-top: 50px;
}

.section--four--right {
  display: flex;
  flex-direction: column;
  justify-content: ;
}

.section--four--right__input {
  display: flex;
  flex-direction: row;
  align-content: space-around;
}

.section--four--right__button {
  display: flex;
  justify-content: center;
  border-radius: 35px;
  background-color: rgb(15, 150, 204);
  width: 150px;
  padding: 10px;
  color: white;
}

.section--four--right__input--email {
  display: flex;
  justify-content: center;
  border-radius: 35px;
  background-color: rgb(219, 215, 215);
  width: 150px;
  padding: 10px;
  color: black;
}

.section--four--right--h3 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.1px;
  color: #252b42;
}

.section--four--right--h2 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 35px;
  letter-spacing: 0.2px;
  color: #252b42;
}

